/* Base */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background: #f9f9f9;
}

/* Type */

@font-face {
  font-family: 'Sky';
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url('./fonts/sky-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Sky';
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: url('./fonts/sky-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Sky';
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
  src: url('./fonts/sky-italic.woff2') format('woff2');
}

body {
  line-height: 1.57;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Sky', sans-serif;
  color: #222;
}

body,
html {
  height: 100%;
}

button {
	padding: 8px;
	margin: 4px;
}

.code {
	font-family: 'Courier New';
	margin: 2px 0px 2px 8px;
}

.container {
  display: flex;
  flex-direction: row;
	min-height: 100%;
	height: 100%;
	padding: 16px;
}

.list {
	flex-basis: 200px;
	list-style: none;
}

.component {
	flex: 1;
}

.carousel {
	position: relative;
	display: flex;

	nav, nav ul {
		display: flex;
		flex: 1;
		flex-direction: row;
		justify-content: center;
	}

	nav {
		margin-top: 216px;
	}

	nav ul {
		list-style: none;
	}
}
